        <div class="card">
          <p class="card-header-title">{{title}}</p>
          <div class="card-content">
            <div class="content">
              {{description}}
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" postId={{post_id}} id="view">See more</a>
          </footer>
        </div>