

<section class="section">


    <h1 class="title">Tech Blog</h1>


  <div class="container">
    {{#each posts}}
    {{> card}}
    {{/each}}
  </div>
</section>
<script src="./js/card.js"></script>