

    <h1 class="title">Log In</h1>
    
  <div class="card login">
    <div class="card-content">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <label class="label">Email</label>
          <input class="input" type="email" placeholder="example@email.com" id="email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <label class="label">Password</label>
          <input class="input" type="password" placeholder="Password" id="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button login">
            Sign in
          </button>
        </p>
        <p id="login-signup">
          To create an account <a href="/signUp">click here</a>
        </p>
      </div>
    </div>
  </div>
  <script src="./js/login.js"></script>