<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="dashNav" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/dashboard">
        View posts
      </a>
    </div>
  </div>
</nav>

<section class="section">
    <div class="postForm">

        <div class="field">
        <label class="label">Title</label>
            <div class="control">
                <input id="title" class="input" type="text" placeholder="Maximum of 14 characters" maxLength="14">
            </div>
        </div>

        <div class="field">
        <label class="label">Description</label>
            <div class="control">
                <textarea id="description" class="textarea" placeholder="Maximum of 70 Characters" rows="2" maxlength="70"></textarea>
            </div>
        </div>


        <div class="field">
        <label class="label">Article</label>
            <div class="control">
                <textarea id="article" class="textarea" placeholder="Textarea" rows="10"></textarea>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <a class="button" id="newPost">Submit</a>
            </div>
            <div class="control">
                <a class="button" href="/dashboard">Cancel</a>
            </div>
        </div>
    
    </div>
</section>
<script src="./js/newPost.js"></script>